archive/
.venv
.env
logs/*
data/baseline_stats.json
temp.py
**.pyc
data/
models/traditional/traditional_model.pkl
models/mlp/mlp_best.pth
**.db
**.pth
**.pkl
models/mlp/eval.json
mlartifacts/
Readme_commands.md
todo.md
